image:
  repository: some/repo
  tag: latest
env:
  IP_ADDRESS: 0.0.0.0
  PORT: 30
  MQTT_SERVER: 127.0.0.1
  MQTT_PORT: 1884
  MQTT_USER: usr
  MQTT_PASSWORD: pw
  WEBCAM_STREAM_URL: http://127.0.0.1
  WEBCAM_STREAM_PORT: 80